%a{href: '/authorize'} Auth with Yahoo

#app
  {{ message }}

  %table.table.is-striped
    %thead
      %tr
        %th Ranks
        %th Playoffs
        %th{'v-if' => 'bye_week_spots > 0'}
          Bye-Week
        %th{'v-for' => '(team, team_id, index) in teams', 'v-if' => 'team'}
          {{ team_id }}
    %tbody
      %tr{'v-for' => "(team, team_id, index) in teams", 'v-if' => "team"}
        %th
          {{ team.name }}
        %td
          {{ parseFloat(team.ranks.slice(0, playoff_spots).sum() / (ranker.iterations || 1) * 100).toFixed(2) + "%" }}
        %td{'v-if' => 'bye_week_spots > 0'}
          {{ parseFloat(team.ranks.slice(0, bye_week_spots).sum() / (ranker.iterations || 1) * 100).toFixed(2) + "%" }}
        %td{'v-for' => '(rank, idx, index) in team.ranks'}
          {{ rank ? (parseFloat((rank / (ranker.iterations || 1) * 100)).toFixed(2) + "%") : "" }}
