%script
  var league_key = '#{params[:league_key]}';

#app
  {{ message }}
  %br
  Iterations: {{ ranker.iterations }}

  %table.table.is-striped
    %thead
      %tr
        %th Ranks
        %th{'v-if' => 'playoff_spots > 0'}
          Playoffs ({{ playoff_spots }})
        %th{'v-if' => 'bye_week_spots > 0'}
          Bye-Week ({{ bye_week_spots }})
        %th{'v-for' => '(team, team_id, index) in teams', 'v-if' => 'team'}
          {{ team_id }}
    %tbody
      %tr{'v-for' => "(team, team_id, index) in teams", 'v-if' => "team"}
        %th
          {{ team.name }}
        %td{'v-if' => 'playoff_spots > 0'}
          {{ parseFloat(team.ranks.slice(0, playoff_spots).sum() / (ranker.iterations || 1) * 100).toFixed(2) + "%" }}
        %td{'v-if' => 'bye_week_spots > 0'}
          {{ parseFloat(team.ranks.slice(0, bye_week_spots).sum() / (ranker.iterations || 1) * 100).toFixed(2) + "%" }}
        %td{'v-for' => '(rank, idx, index) in team.ranks'}
          {{ rank ? (parseFloat((rank / (ranker.iterations || 1) * 100)).toFixed(2) + "%") : "" }}

%script{:src => "/js/teams.js"}
%script{:src => "/js/leagues/show.js"}
