%script
  var league_key = '#{params[:league_key]}';
  var league_cached = null;
  var scores_cached = null;
  - if @league
    var league_cached = #{@league.body.to_json};
  - if @scores
    var scores_cached = #{@scores.body.to_json};

#app
  %section.hero.is-primary
    .hero-body
      .container
        %nav.columns
          .column.has-text-centered{'v-if' => 'error'}
            %i.fa.fa-3x.fa-exclamation-triangle.is-danger{'aria-hidden' => 'true'}
            %p.title.is-4{style: 'margin-top: 0.25em'}
              %strong
                Error!
              %p {{ error }}
          .column.has-text-centered{'v-if' => 'teams.length <= 0 && !error'}
            %i.fa.fa-3x.fa-spin.fa-cog{'aria-hidden' => 'true'}
            %p.title.is-4{style: 'margin-top: 0.25em'}
              %strong
                Loading
          .column.has-text-centered.league{'v-show' => 'teams.length > 0'}
            -#%i.fa.fa-3x.fa-fighter-jet
            %p.title{style: 'margin-top: 0.25em'}
              {{ league.name }}
            %p.title.is-4
              End of Week {{ current_week(s) }}
            .sharing
              %p.title.is-4
                Share |

              %a{target: '_blank', 'v-bind:href' => "'https://twitter.com/intent/tweet?text=%23FFOdds%20' + escape(sharing_url(s))"}
                %i.fa.fa-2x.fa-twitter
              %a{target: '_blank', 'v-bind:href' => "'https://www.facebook.com/sharer/sharer.php?u=' + escape(sharing_url(s))"}
                %i.fa.fa-2x.fa-facebook
              %a#copyURL{target: '_blank', 'v-bind:href' => "sharing_url(s)"}
                %i.fa.fa-2x.fa-bookmark
              %textarea#sharingURL{'v-show' => 'false'}
                {{ sharing_url(s) }}
              #copied.notification.is-info{'v-show' => 'false'}
                Copied!

            %button#more_iterations.button.is-link.is-medium
              %span.icon
                %i.fa.fa-plus
              %span
                %strong
                  More Iterations ({{ ranker.iterations }})


  %section.section{style: 'overflow-x: auto'}
    %table.table.is-striped
      %thead
        %tr
          %th Ranks
          %th{'v-if' => 'playoff_spots > 0'}
            Playoffs ({{ playoff_spots }})
          %th{'v-if' => 'bye_week_spots > 0'}
            Bye-Week ({{ bye_week_spots }})
          %th{'v-for' => '(team, team_id, index) in teams', 'v-if' => 'team'}
            {{ team_id }}
      %tbody
        %tr{'v-for' => "(team, team_id, index) in sorted_spots(teams, playoff_spots)", 'v-if' => "team"}
          %th
            {{ team.name }}
          %td{'v-if' => 'playoff_spots > 0'}
            {{ spots(team.ranks, playoff_spots, ranker.iterations) }}%
          %td{'v-if' => 'bye_week_spots > 0'}
            {{ spots(team.ranks, bye_week_spots, ranker.iterations) }}%
          %td{'v-for' => '(rank, idx, index) in team.ranks'}
            {{ rank ? (parseFloat((rank / (ranker.iterations || 1) * 100)).toFixed(2) + "%") : "" }}

%script{:src => "/js/leagues/show.js"}
