%script
  var league_key = '#{@league_key || params[:league_key]}';
  var league_cached = null;
  var scores_cached = null;
  - if @league
    var league_cached = #{@league.body.to_json};
  - if @scores
    var scores_cached = #{@scores.body.to_json};

#app
  %section.hero.is-primary
    .hero-body
      .container
        %nav.columns
          .column.has-text-centered{'v-if' => 'error'}
            %i.fa.fa-3x.fa-exclamation-triangle.is-danger{'aria-hidden' => 'true'}
            %p.title.is-4{style: 'margin-top: 0.25em'}
              %strong
                Error!
              %p {{ error }}
          .column.has-text-centered{'v-if' => 'teams.length <= 0 && !error'}
            %i.fa.fa-3x.fa-spin.fa-cog{'aria-hidden' => 'true'}
            %p.title.is-4{style: 'margin-top: 0.25em'}
              %strong
                Loading
          .column.has-text-centered.league{'v-show' => 'teams.length > 0'}

            %h3.title.is-2
              %strong {{ league.name }}
            %h4.subtitle.is-3
              End of Week {{ current_week }}
            %h4.subtitle.is-3.sharing
              Share

              %a#copyURL{'data-balloon-pos' => "right", target: '_blank', 'v-bind:href' => "sharing_url"}
                %i.fa.fa-1x.fa-bookmark
              %a{target: '_blank', 'v-bind:href' => "'https://twitter.com/intent/tweet?text=%23FFOdds%20' + escape(sharing_url)"}
                %i.fa.fa-1x.fa-twitter
              %a{target: '_blank', 'v-bind:href' => "'https://www.facebook.com/sharer/sharer.php?u=' + escape(sharing_url)"}
                %i.fa.fa-1x.fa-facebook
              %textarea#sharingURL{'v-show' => 'false'}
                {{ sharing_url }}

            %button#more_iterations.button.is-link.is-medium
              %span.icon
                %i.fa.fa-plus
              %span
                %strong
                  More Iterations ({{ ranker.iterations }})

  .team_details
    .modal{'v-for' => "(team, team_id, index) in sorted_spots(teams, playoff_spots)", 'v-if' => "team", 'v-bind:id' => '"team_details_" + team.id'}
      .modal-background
      .modal-card
        %header.modal-card-head
          %p.modal-card-title {{ team.name }} Stats
          %button.delete{'aria-label' => 'close'}
        %section.modal-card-body
          .level
            .level-item.has-text-centered
              .d
                %p.heading Min
                %p.title {{ team.min }}
            .level-item.has-text-centered
              .d
                %p.heading Avg
                %p.title {{ Number(team.mean).round(2) }}
            .level-item.has-text-centered
              .d
                %p.heading Max
                %p.title {{ team.max }}
          .level
            .level-item.has-text-centered
              .d
                %p.heading Win-Loss-Tie
                %p.title {{ team.real_win_loss() }}
            .level-item.has-text-centered
              .d
                %p.heading Points For
                %p.title {{ team.points_for() }}
            .level-item.has-text-centered
              .d
                %p.heading Points Against
                %p.title {{ team.pointsAgainst() }}

      -# Best Scenario
      -# Potential Scenario for rank
      -# Games Back?


  %section.section{style: 'overflow-x: auto'}
    %table.table.is-striped
      -#I just can't get the colors right
      -#%colgroup
        %col
        %col{'v-if' => 'playoff_spots > 0', style: 'background-color: #ddffff;'}
        %col{'v-if' => 'bye_week_spots > 0', style: 'background-color: #cceeee;'}
        %col{'v-for' => 'e in bye_week_spots', style: 'background-color: #cceeee;'}
        %col{'v-for' => 'e in (playoff_spots - bye_week_spots)', style: 'background-color: #ddffff;'}
      %thead
        %tr
          %th Ranks
          %th{'v-if' => 'playoff_spots > 0'}
            %em Playoffs ({{ playoff_spots }})
          %th{'v-if' => 'bye_week_spots > 0'}
            %em Bye-Week ({{ bye_week_spots }})
          %th{'v-for' => 'i in Number(league.num_teams || 0)'}
            %em{'v-if' => 'i <= playoff_spots'}
              {{ friendly_rank(i) }}
            %span{'v-else' => 'true'}
              {{ friendly_rank(i) }}
      %tbody
        %tr{'v-for' => "(team, team_id, index) in sorted_spots(teams, playoff_spots)", 'v-if' => "team"}
          %th
            %a.detail{'v-bind:data-target' => '"team_details_" + team.id'}
              {{ team.name }}
          %td{'v-if' => 'playoff_spots > 0'}
            %em
              {{ spots(team.ranks, playoff_spots, ranker.iterations) }}%
          %td{'v-if' => 'bye_week_spots > 0'}
            %em
              %strong {{ spots(team.ranks, bye_week_spots, ranker.iterations) }}%
          %td{'v-for' => '(rank, idx, index) in team.ranks'}
            %em{'v-if' => 'idx < bye_week_spots'}
              %strong
                {{ rank ? (parseFloat((rank / (ranker.iterations || 1) * 100)).toFixed(2) + "%") : "" }}
            %em{'v-else-if' => 'idx < playoff_spots'}
              {{ rank ? (parseFloat((rank / (ranker.iterations || 1) * 100)).toFixed(2) + "%") : "" }}
            %span{'v-else' => 'true'}
              {{ rank ? (parseFloat((rank / (ranker.iterations || 1) * 100)).toFixed(2) + "%") : "" }}

%script{:src => "/js/leagues/show.js"}
